.wrapCardContent {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  height: 90%;
}

.cardAvatar {
  object-fit: cover;
  margin: 0 auto;
}

.introCard {
  text-align: center;
}

.introCard h5 {
  margin-top: 0.5em;
}

.content {
  width: 100%;
}

.boldText {
  font-size: 18px;
  font-weight: 600;
}

.wrapCta {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.wrapCta button {
  width: 100%;
}
